/* Global Variables */
:root {
    --mainfont: segoe ui;
    --shadow: 2px 2px 2px black;

    --black: #333;
    --darkgrey: #505050;
    --grey: #d6d6d6;

    --blue: #2d5277;
    --lightblue: #e3effa;
    --darkblue: #1b3046;
    --red: #db2b2b;
}

* {
    transition: 200ms;
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    margin: auto;
    font-family: var(--mainfont);
    overflow-x: hidden;
}

html, body {
    text-align: center;
    margin: 50px auto;
    width: 100%;
}

main {
    width: 1000px;
    height: 500px;
    background: var(--lightblue);
}

.abs {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.small {
    font-size: 0.7rem;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}